*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	color: lightgray;
}

main{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#canvasContainer{
	height: 100%;
	max-width: 100%;
	overflow: hidden;
}

#mainCanvas{
	margin: 0;
	padding: 0;
	image-rendering: crisp-edges;
}
#populationP{
	position: absolute;
	bottom: 1%;
	left: 1.5em;
}